{{> navbar}}

<!-- <button href="#" class="btn-secondary  float">
  <i class="fa fa-sliders mx-3 my-3"></i>
</button> -->
<section class="category mb-5">
  <div class="container">
    <h2 class="cat-title mt-2">
      ABOUT US
    </h2>
  </div>
</section>

<section class="about-us mb-5">
  <div class="container">
    <h6 class="text-bolder text-uppercase">About us</h6>
    <p class="mb-5">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    
     
  </div>
</section>




{{> footer}}