{{> navbar}}
    <div class="bg-light post-container py-4 mb-4 container cart-banner">
        <div class="card">
            <div class="card-header bg-transparent">
                <h2 class="card-title font-weight-bold">
                    {{data.title}}
                </h2>
            </div>
            <div class="card-body post">
                {{{data.post}}}
            </div>
        </div>
    </div>
{{> footer}}