{{> navbar}}
<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="card shadow w-50 border-0">
        <div class="card-header d-flex justify-content-center bg-white">
            <img height="60px" src="/img/sad.png" alt="success"/>
        </div>
        <div class="card-body text-center">
            <h1 class="card-title">
                Payment Failed
            </h1>
            <h4 class="card-title">
                Smoething Bad Happened !!!
            </h4>
            <h4 class="card-title">
                Please Try Again !!!
            </h4>
            <a class="btn btn-secondary" href="/">
                Go Back
            </a>
        </div>
    </div>
</div>

{{> footer}}